<h1>Change Calculator</h1>
<form action='/results'>
  <div class='form-group'>
    <label>Input value:</label>
    <input type="text" name="cents" id="cents" class="form-control">
  </div>
  <button type="submit" id="choice_submit" class='btn'>Count!</button>
</form>
